<nav>
  <ul>
    <li><a href="/"><i class="far fa-id-card"></i> Profile</li></a>
    <li><a href="/groups"><i class="fas fa-home"></i> Taverns</li></a>
    <!-- <li><i class="fas fa-book-open"></i> About</li> -->
    <li><a rel="nofollow" data-method="delete" href="/users/sign_out"><i class="fas fa-sign-out-alt"></i> Log Out</a></li>
      <!-- <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %> -->
  </ul>
</nav>