<!-- <div class="nav-container"> -->
  <div class="nav-circle-container">
    <div class="nav-circle">
      <button id="close">
        <i class="fas fa-times"></i>
      </button>
      <button>
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </div>
<!-- </div> -->

<nav>
  <ul>
    <li><i class="fas fa-home"></i> Home</li>
    <li><i class="fas fa-user-alt"></i> About</li>
    <li><i class="fas fa-envelope"></i> Contant</li>
  </ul>
</nav>