/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

* {
  padding: 0;
  margin: 0;
  font-family: 'MedievalSharp', cursive;
}

.invite {
  padding: 3px;
  border-radius: 50%;
  background-color: green;
}

body {
  overflow-x: hidden;
  margin: 0;
  background-image: url('https://images.unsplash.com/photo-1528458965990-428de4b1cb0d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=970&q=80');
  background-size: cover;
  background-position: bottom left;
  box-shadow: inset 3500px 0 0 0 rgba(0, 0, 0, 0.6);
  border-color: rgba(0, 0, 0, 1);
  animation-duration: 0.4s;
  transition-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-name: fadein;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  /* padding: 100px 50px; */
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

a:hover {
  color: inherit;
  outline: none;
  background-color: inherit;
  transform: scale(1.3);
}

a:visited {
  color: inherit;
}

p {
  font-family: 'MedievalSharp', cursive;
}

/* PAGE CHANGE SMOOTH ANIMATION */

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* NAVBAR STYLING ELEMENTS */

.container.show-nav {
  transform: rotate(-20deg);
}

.nav-circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
  z-index: 11;
}

.nav-circle {
  /* background-color: #ffe079; */
  background-image: url('https://images.unsplash.com/photo-1578403881967-084f9885be74?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1107&q=80');
  background-size: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
  box-shadow: inset 200px 0 0 0 rgba(0, 0, 0, 0.4);
  border-color: rgba(0, 0, 0, 1);
}

.container.show-nav .nav-circle {
  transform: rotate(-70deg);
}

.nav-circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #dcdcdc;
  outline: none;
}

.nav-circle button#open {
  left: 60%;
}

.nav-circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.show-nav+nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
  color: #fafafa;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  margin: 40px 0;
  color: #fafafa;
  transform: translateX(-110%);
  transition: transform 0.4s ease-in;
}

nav ul li a {
  text-decoration: none;
  color: #fafafa !important;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
  color: #fafafa;
}

nav ul li+li {
  margin-left: 15px;
  transform: translateX(-150%);
}

nav ul li+li+li {
  margin-left: 30px;
  transform: translateX(-200%);
}

/* REGISTRATION AND SIGN IN PAGE */

.reg-land-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 100vw;
  background-image: url('https://i.pinimg.com/originals/7f/66/78/7f66782d3be428660cae59d52628427e.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: inset 3500px 0 0 0 rgba(0, 0, 0, 0.8);
  border-color: rgba(0, 0, 0, 1);
}

.center-content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 90vw;
  color: #dcdcdc;
}

.left-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}

.land-page-title {
  font-size: 50px;
  margin: 30px 0;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.65);
}

.logo {
  width: 20%;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.65);
}

.right-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}

.right-content-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  border-radius: 10px;
  box-shadow: 11px 10px 46px -1px rgba(0, 0, 0, 0.81);
  -webkit-box-shadow: 11px 10px 46px -1px rgba(0, 0, 0, 0.81);
  -moz-box-shadow: 11px 10px 46px -1px rgba(0, 0, 0, 0.81);
}

.reg-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.email {
  width: 50%;
  padding: 5px;
}

.email input {
  width: 90%;
  height: 25px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 5px;
  font-family: 'MedievalSharp', cursive;
}

.email-password-login {
  width: 100%;
  padding: 5px;
}

.email-password-login input {
  width: 98%;
  height: 25px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 5px;
  font-family: 'MedievalSharp', cursive;
}

.username {
  width: 50%;
  padding: 5px;
}

.username input {
  width: 90%;
  height: 25px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 5px;
  font-family: 'MedievalSharp', cursive;
}

.avatar {
  width: 48%;
  padding-left: 5px;

}

.alignment {
  width: 50%;
  padding: 5px;
  font-family: 'MedievalSharp', cursive;
}

.address {
  width: 100%;
  padding: 5px;
}

.address input {
  width: 98%;
  height: 25px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 5px;
  font-family: 'MedievalSharp', cursive;
}

.bio {
  width: 100%;
  padding: 5px;
}

.bio textarea {
  width: 98%;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 5px;
  resize: none;
  font-family: 'MedievalSharp', cursive;
}

.dm {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px;
}

.dm input {
  margin-right: 15px;
}

.password {
  width: 50%;
  padding: 5px;
}

.password input {
  width: 90%;
  height: 25px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 5px;
}

.terms {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px;
}

.terms input {
  margin-right: 15px;
}

.reg-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
}

.sign-up-btn {
  width: 80%;
}

.sign-up-btn input {
  width: 100%;
  height: 25px;
  font-family: 'MedievalSharp', cursive;
}

.reg-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.reg-link a {
  text-align: center;
  color: #dcdcdc;
  text-decoration: none;
  font-family: 'MedievalSharp', cursive;
}

/* HOME PAGE AND USER PAGE */

.user-land-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background-image: url('https://pbs.twimg.com/media/DYz364kXcAEORfq.jpg');
  background-size: cover;
  box-shadow: inset 3500px 0 0 0 rgba(0, 0, 0, 0.8);
  border-color: rgba(0, 0, 0, 1);
  color: #dcdcdc;
  /* ! This must be removed */
}

.page-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 130px;
  background-image: url('https://gallery.yopriceville.com/var/albums/Free-Clipart-Pictures/Ribbons-and-Banners-PNG/Business_Yellow_Banner_PNG_Clipart.png?m=1574418010');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.65);
}

.page-banner h1 {
  font-size: 2.5rem;
  color: rgb(107, 0, 0);
  margin-bottom: 20px;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.65);
}

.user-page-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 90%;
  height: 75%;
}

.user-left-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
}

.avatar-username {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 95%;
  height: 45%;
  padding: 10px;
  position: relative;
  margin-top: 15px;
  border: 12px outset #e6c407;
}

.avatar-username img {
  width: 35%;
  max-height: 90%;
  border: 12px outset #A42121;
  object-fit: cover;
  object-position: center;
  padding: 0;
  margin: 0;
  margin-right: 15px;
  box-shadow: 11px 10px 46px -1px rgba(0, 0, 0, 0.81);
  -webkit-box-shadow: 11px 10px 46px -1px rgba(0, 0, 0, 0.81);
  -moz-box-shadow: 11px 10px 46px -1px rgba(0, 0, 0, 0.81);
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
}

.user-details p {
  line-height: 1.5;
}

.username {
  padding: 0;
  margin-top: 5px;
  margin-bottom: 10px;
}

.user-bio {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  direction: lrt;
}

.user-bio::-webkit-scrollbar {
  width: 8px;
}

.user-bio::-webkit-scrollbar-track {
  background: transparent;
}

.user-bio::-webkit-scrollbar-thumb {
  background-color: #e6c407;
  border: 3px solid #A42121;
}

.dm-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-image: url('https://images.unsplash.com/photo-1545873509-33e944ca7655?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80');
  background-size: cover;
  position: absolute;
  top: 1%;
  left: 36%;
  transform: rotate(-30deg);
  border: 5px outset #A42121;
}

.dm-badge-text {
  color: black;
  font-size: 12px;
}

.users-nearby {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 95%;
  height: 50%;
  padding: 10px;
  overflow-y: scroll;
  direction: ltr;
  border: 12px outset #e6c407;
}

.users-nearby::-webkit-scrollbar {
  width: 8px;
}

.users-nearby::-webkit-scrollbar-track {
  background: transparent;
}

.users-nearby::-webkit-scrollbar-thumb {
  background-color: #e6c407;
  border: 3px solid #A42121;
}

.users-nearby h1:nth-of-type(1) {
  margin: 15px 0;
}

.nearby-user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* width: 95%; */
  margin: 10px 0 10px 0;
}

.nearby-user img {
  width: 35px;
  height: 35px;
  border: 5px solid #A42121;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  padding: 0;
  box-shadow: 11px 10px 46px -1px rgba(0, 0, 0, 0.81);
  -webkit-box-shadow: 11px 10px 46px -1px rgba(0, 0, 0, 0.81);
  -moz-box-shadow: 11px 10px 46px -1px rgba(0, 0, 0, 0.81);
}

.avatar-dm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  position: relative;
}

.nearby-user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.nearby-user-details h2 {
  margin-bottom: 5px;
}

.nearby-dm-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-image: url('https://images.unsplash.com/photo-1545873509-33e944ca7655?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80');
  background-size: cover;
  position: absolute;
  top: 0%;
  left: 65%;
  transform: rotate(-30deg);
  border: 2px solid #ff0000;
}

.nearby-dm-badge-text {
  color: black;
  font-size: 10px;
}

.user-right-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
}

.top-right {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  width: 95%;
  height: 45%;
  position: relative;
  margin-top: 15px;
}

.users-groups {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 95%;
  height: 50%;
  padding: 10px;
  border: 12px outset #e6c407;
}

.user-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.user-group::-webkit-scrollbar {
  width: 8px;
}

.user-group::-webkit-scrollbar-track {
  background: transparent;
}

.user-group::-webkit-scrollbar-thumb {
  background-color: #e6c407;
  border: 3px solid #A42121;
}

.group-details h2 {
  margin: 10px 0;
}

.not-users-groups {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 48%;
  height: 100%;
  padding: 10px;
  border: 12px outset #e6c407;
}

.all-users {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 48%;
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
  /* direction: ltr; */
  border: 12px outset #e6c407;
}

.all-users::-webkit-scrollbar {
  width: 8px;
}

.all-users::-webkit-scrollbar-track {
  background: transparent;
}

.all-users::-webkit-scrollbar-thumb {
  background-color: #e6c407;
  border: 3px solid #A42121;
}

.all-user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 98%;
  margin: 10px 0 10px 0;
}

.all-avatar-dm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  position: relative;
}

.all-user img {
  width: 35px;
  height: 35px;
  border: 5px solid #A42121;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  padding: 0;
  box-shadow: 11px 10px 46px -1px rgba(0, 0, 0, 0.81);
  -webkit-box-shadow: 11px 10px 46px -1px rgba(0, 0, 0, 0.81);
  -moz-box-shadow: 11px 10px 46px -1px rgba(0, 0, 0, 0.81);
}

.group-heading h1 {
  margin: 5px 0 10px 0;
}

/* TARVERNS STYLING */

.taverns-land-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  padding: 60px;
  background-image: url('https://i.pinimg.com/originals/7f/66/78/7f66782d3be428660cae59d52628427e.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: inset 3500px 0 0 0 rgba(0, 0, 0, 0.8);
  border-color: rgba(0, 0, 0, 1);
  color: #dcdcdc;
}

.taverns-center-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  min-height: 100%;
}

.taverns-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin: 30px auto;
}

.taverns {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
}

.tavern {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-bottom: 25px;
  border: 12px outset #e6c407;
}

.tavern-image {
  width: 50%;
}

.tavern-image img {
  width: 70%;
  max-height: 90%;
  border: 12px outset #A42121;
  object-fit: cover;
  object-position: center;
  padding: 0;
  margin: 0;
  margin-right: 15px;
  box-shadow: 11px 10px 46px -1px rgba(0, 0, 0, 0.81);
  -webkit-box-shadow: 11px 10px 46px -1px rgba(0, 0, 0, 0.81);
  -moz-box-shadow: 11px 10px 46px -1px rgba(0, 0, 0, 0.81);
}

.tavern-details {
  width: 50%;
  line-height: 2;
}

.new-group-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6c407;
  height: 35px;
  width: 35px;
  border: 2px solid #998200;
  border-radius: 50%;
  position: fixed;
  left: 90%;
  top: 90%;
  box-shadow: 11px 10px 46px -1px rgba(0, 0, 0, 0.81);
  -webkit-box-shadow: 11px 10px 46px -1px rgba(0, 0, 0, 0.81);
  -moz-box-shadow: 11px 10px 46px -1px rgba(0, 0, 0, 0.81);
  transition: 0.3s ease-in-out;
}

.new-group-btn:hover {
  transform: scale(1.2);
}

.new-group-btn a:hover {
  transform: none;
}

.fa-users {
  font-size: 22px;
  color: rgb(107, 0, 0);
}

.group-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  width: 80%;
  padding: 20px;
}

.group-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50%;
  padding: 15px;
  border: 12px outset #e6c407;
}

.not-user-group-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 98%;
  height: 50px;
  padding: 0;
  margin: 0;
}

.group-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 49%;
  padding: 0;
  margin: 0;
}

.group-details h1 {
  margin-bottom: 10px;
}

.group-title img {
  width: 30%;
  max-height: 90%;
  border: 12px outset #A42121;
  object-fit: cover;
  object-position: center;
  padding: 0;
  margin: 0 auto;
  margin-right: 15px;
  box-shadow: 11px 10px 46px -1px rgba(0, 0, 0, 0.81);
  -webkit-box-shadow: 11px 10px 46px -1px rgba(0, 0, 0, 0.81);
  -moz-box-shadow: 11px 10px 46px -1px rgba(0, 0, 0, 0.81);
}

.fa-edit {
  font-size: 20px;
  padding-left: 4px;
  color: black;
}

.user-game-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.admin-function {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 35%;
}

.game-schedule {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 65%;
}

.schedular {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 70%;
}

.game-schedule form {
  width: 80%;
}

.game-schedule input {
  width: 100%;
  height: 25px;
  margin: 5px 0;
  border: none;
  outline: none;
}

.date-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 10px 0;
}

.date-time input {
  width: 40%;
}

.game-schedule input[type=submit] {
  width: 100%;
  background-color: #e6c407;
  margin-top: 10px;
}

.games {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 30%;
  height: 100%;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 84%;
  padding: 5px;
  border: 12px outset #e6c407;
}

.game p,
a {
  margin-bottom: 5px;
}

.attending {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.user-request {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.user-request h1 {
  width: 100%;
  margin: 10px 0;
}

.request-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.delete-group {
  font-size: 16px;
  color: red !important;
  margin-top: 15px;
}

.accept {
  font-size: 16px;
  color: rgb(17, 182, 17);
}

.player-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  width: 100%;
  margin-top: 5px;
  padding-left: 20px;
}

.chat-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.new-message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.new-message form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-bottom: 10px;
}

.new-message form,
textarea {
  resize: none;
  width: 80%;
  padding: 3px;
  border: none;
  outline: none;
}

.message_btn {
  background-color: transparent;
  border: none;
  font-size: 20px;
  margin: 0 auto;
  color: #e6c407;
  transition: 0.3s ease-in-out;
}

.message_btn:hover {
  transform: scale(1.3);
}

.chat-window {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(221, 221, 221, 0.212);
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: rgb(0, 134, 158);
}

.message-current-user {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  border-radius: 10px;
  background-color: rgb(0, 158, 137);
}

.message-title h3 {
  font-family: 'Roboto', sans-serif;
  margin: 3px 0 3px 3px;
}

.message-content {
  width: 90%;
  margin: 3px 0 3px 15px;
}

.message-content p {
  font-family: 'Roboto', sans-serif;
}

.comments {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 95%;
  padding-left: 50px;
  border-radius: 10px;
  color: #414141;
  background-color: rgba(224, 255, 255, 0.39);
}

.comment {
  width: 90%;
  background-color: rgba(0, 134, 158, 0.425);
  border-radius: 20px;
  margin: 1px 0;
}

.comment-title {
  font-style: italic;
  color: #A42121;
}

.comment-title p {
  font-size: 12px;
  margin-left: 15px;
}

.comment-content {
  font-size: 10px;
  font-style: italic;
  padding-left: 30px;
}

.comment-content p {
  font-size: 10px;
  margin-left: 15px;
}

.comment-textarea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 103%;
  margin-top: 5px;
}

.comment-textarea textarea {
  width: 80%;
  resize: none;
  padding: 3px;
  border-radius: 10px;
}

.comment_btn {
  background-color: transparent;
  border: none;
  font-size: 20px;
  margin: 0 auto;
  color: rgb(0, 17, 255);
  transition: 0.3s ease-in-out;
}

.comment_btn:hover {
  transform: scale(1.3);
}

@media only screen and (max-width: 1200px) {
  .reg-land-page {
    min-height: 100%;
  }

  .user-land-page {
    min-height: 100%;
  }

  .center-content-container {
    flex-direction: column;
    min-height: 80vh;
  }

  /* .center-content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 90vw;
    color: #dcdcdc;
  }
  
  .left-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
  }
  
  .right-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
  } */

  .left-content-container {
    width: 70%;
  }

  .right-content-container {
    width: 70%;
  }

  .right-content-container form {
    width: 80%;
  }

  .reg-box {
    width: 98%;
  }
}

@media only screen and (max-width: 1000px) {
  .user-land-page {
    min-height: 100%;
  }

  .page-banner {
    height: 12%;
  }

  .page-banner h1 {
    font-size: 2.3rem;
    margin-bottom: 15px;
  }

  .user-page-content-container {
    width: 95%;
    height: 80%;
  }

  .user-right-content-container {
    width: 60%;
  }

  .not-users-groups {
    width: 38%;
  }

  .all-users {
    width: 60%;
  }
}

@media only screen and (max-width: 900px) {
  /* REGISTRATION AND SIGN IN PAGE */

  .right-content-container {
    width: 80%;
  }

  .right-content-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  /* HOME PAGE AND USER PAGE */

  .user-land-page {
    min-height: 100%;
  }

  .page-banner {
    height: 12%;
  }

  .page-banner h1 {
    font-size: 2.2rem;
  }

  .user-page-content-container {
    flex-direction: column;
    width: 95%;
    height: 85%;
  }

  .user-left-content-container {
    flex-direction: row;
    width: 100%;
    height: 50%;
  }

  .avatar-username {
    width: 49%;
    height: 100%;
  }

  .users-nearby {
    width: 49%;
    height: 100%;
    margin-top: 15px;
  }

  .user-right-content-container {
    width: 100%;
    height: 100%;
  }

  .top-right {
    width: 100%;
    height: 49%;
  }

  .users-groups {
    width: 100%;
    height: 49%;
  }

  .user-group {
    width: 99%;
    height: 100%;
  }

  .not-users-groups {
    width: 49%;
    height: 98%;
  }

  .all-users {
    width: 49%;
    height: 98%;
  }

  .all-user {
    width: 98%;
  }
}

@media only screen and (max-width: 800px) {
  .reg-land-page {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    min-height: 250vh;
    width: 100vw;
    padding-top: 50px;
  }

  .center-content-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100%;
    width: 100vw;
  }

  .left-content-container {
    height: 50%;
    width: 70%;
    margin-bottom: 60px;
  }

  .land-page-title {
    font-size: 30px;
    margin: 15px 0;
  }

  .logo {
    width: 30%;
  }

  .right-content-container {
    height: 1000px;
    width: 100%;
    padding: 10px 0;
  }

  .right-content-container form {
    width: 90%;
    height: 1000px;
  }

  .reg-box {
    flex-direction: column;
    width: 100%;
    height: 200px;
  }

  .email {
    width: 90%;
    padding: 5px;
  }

  .email input {
    width: 100%;
  }

  .email-password-login {
    width: 90%;
    padding: 5px;
  }

  .email-password-login input {
    width: 100%;
  }

  .username {
    width: 90%;
    padding: 5px;
  }

  .username input {
    width: 100%;
  }

  .avatar {
    width: 90%;
    padding-left: 5px;

  }

  .alignment {
    width: 90%;
  }

  .address {
    width: 90%;
    padding: 5px;
  }

  .address input {
    width: 100%;
  }

  .bio {
    width: 90%;
    padding: 5px;
  }

  .bio textarea {
    width: 100%;
  }

  .dm {
    width: 90%;
    margin: 40px auto;
  }

  .dm input {
    transform: scale(1.5);
    margin-right: 15px;
  }

  .password {
    width: 90%;
    padding: 5px;
  }

  .password input {
    width: 100%;
  }

  .terms {
    width: 90%;
    margin: 40px auto;
  }

  .terms input {
    transform: scale(1.5);
    margin-right: 15px;
  }

  .reg-btn {
    width: 100%;
  }

  .user-land-page {
    min-height: 350vh;
  }

  .page-banner h1 {
    font-size: 1.5rem;
  }

  .user-left-content-container {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .avatar-username {
    width: 95%;
    height: 45%;
  }

  .avatar-username img {
    width: 30%;
  }

  .dm-badge {
    top: 1%;
    left: 31%;
  }

  .users-nearby {
    width: 95%;
    height: 50%;
  }

  .user-right-content-container {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .top-right {
    flex-direction: column;
    width: 95%;
    height: 45%;
  }

  .users-groups {
    width: 95%;
    height: 50%;
  }

  .user-group {
    width: 98%;
    height: 100%;
  }

  .group-details h2 {
    margin: 10px 30px 5px 0;
  }

  .not-users-groups {
    width: 100%;
    height: 300px;
    padding: 10px;
  }

  .all-users {
    width: 100%;
    height: 500px;
    margin-top: 15px;
  }
}