/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  font-family: 'MedievalSharp', cursive;
  overflow-x: hidden;
  margin: 0;
  background-image: url('https://images.unsplash.com/photo-1528458965990-428de4b1cb0d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=970&q=80');
  background-size: cover;
  background-position: bottom left;
  box-shadow: inset 3500px 0 0 0 rgba(0, 0, 0, 0.6);
  border-color: rgba(0, 0, 0, 1);
  animation-duration: 0.3s;
  transition-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-name: fadein;
}

a {
  color: inherit;
}

.container {
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 100px 50px;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.nav-circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.nav-circle {
  /* background-color: #ffe079; */
  background-image: url('https://images.unsplash.com/photo-1578403881967-084f9885be74?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1107&q=80');
  background-size: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
  box-shadow: inset 3500px 0 0 0 rgba(0, 0, 0, 0.4);
  border-color: rgba(0, 0, 0, 1);
}

.container.show-nav .nav-circle {
  transform: rotate(-70deg);
}

.nav-circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #dcdcdc;
  outline: none;
}

.nav-circle button#open {
  left: 60%;
}

.nav-circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
  color: #fafafa;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  margin: 40px 0;
  color: #fafafa;
  transform: translateX(-110%);
  transition: transform 0.4s ease-in;
}

nav ul li a {
  text-decoration: none;
  color: #fafafa !important;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
  color: #fafafa;
}

nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}