// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
}